# Cryptocurrency Exchange

Fiddy Cent is a digital currency exchange headquartered in Neo Tokyo. They broker exchanges of Bitcoin, Bitcoin Cash, Ethereum, and Litecoin with fiat currencies in around 50 countries.

Help them analyze their January ledger data using SQL aggregate functions! You are given the transactions table, which contains both money-in and money-out transactions.

In [ ]:
# Let’s start by checking out the whole transactions table
SELECT *
FROM transactions;

In [ ]:
# The money_in column records the amount (in USD) the user bought.
# What is the total money_in in the table?
SELECT SUM(money_in) AS 'total_bought'
FROM transactions;

In [ ]:
# The money_out column records the amount (in USD) the user sold.
# What is the total money_out in the table?
SELECT SUM(money_out) AS 'total_sold'
FROM transactions;

It was reported that Bitcoin dominates Fiddy Cent’s exchange. Let’s see if it is true within these dates by answering two questions:

- How many money_in transactions are in this table?
- How many money_in transactions are in this table where ‘BIT’ is the currency?

In [ ]:
SELECT COUNT(*) AS 'total_bought_count'
FROM transactions;

In [ ]:
SELECT COUNT(*) AS 'BIT_bought_count'
FROM transactions
WHERE currency = 'BIT';

In [ ]:
# What was the largest transaction in this whole table?
# Was it money_in or money_out?
SELECT currency, MAX(money_in) AS 'largest_bought'
FROM transactions;

SELECT currency, MAX(money_out) AS 'largest_sold'
FROM transactions;

In [ ]:
# What is the average money_in in the table for the currency Ethereum (‘ETH’)?
SELECT AVG(money_in) AS 'avg_ETH_bought'
FROM transactions
WHERE currency = 'ETH';

In [ ]:
# Let’s build a ledger for the different dates.
SELECT date, AVG(money_in) AS 'avg_bought', AVG(money_out) AS 'avg_sold'
FROM transactions
GROUP BY 1;