# Multiple Tables with REBU

Suppose you are a data analyst at REBU, a ridesharing platform. For a project, you were given three tables:

- trips - trips information
- riders - users data
- cars - autonomous cars

In [ ]:
# Let’s examine the three tables.
SELECT * FROM trips;
SELECT * FROM riders;
SELECT * FROM cars;

In [ ]:
# Suppose we want to create a Trip Log with the trips and its users.
SELECT *
FROM trips
LEFT JOIN riders
    ON trips.rider_id = riders.id;

In [ ]:
# Suppose we want to create a link between the trips and the cars used during those trips.
SELECT *
FROM trips
JOIN cars
    ON trips.car_id = cars.id;

In [ ]:
# The new riders data are in! There are three new users this month.
# Stack the riders table on top of the new table named riders2.
SELECT *
FROM riders
UNION
SELECT *
FROM riders2;

In [ ]:
# What is the average cost for a trip?
SELECT AVG(cost) as 'avg_cost'
FROM trips;

In [ ]:
# REBU is looking to do an email campaign for all the irregular users.
SELECT *
FROM riders
WHERE total_trips < 500;

In [ ]:
# Calculate the number of cars that are active.
SELECT COUNT(*) 'number_of_active_cars'
FROM cars
WHERE status = 'active';

In [ ]:
# It’s safety recall time for cars that have been on the road for a while.
# Write a query that finds the two cars that have the highest trips_completed.
SELECT *
FROM cars
ORDER BY trips_completed DESC
LIMIT 2;