# The Metropolitan Museum of Art

<img src="https://i.imgur.com/SiWlHHW.jpg?1">

<a href="https://www.metmuseum.org/">The Metropolitan Museum of Art of New York</a> is one of the world’s largest and finest art museums.

In this project, you will be working with a table named met that contains the museum’s collection of American Decorative Arts.

It has the following columns:

id - the title of the art piece
department - the department of the art piece
category - the category of the art piece
title - the title name of the art piece
artist - the name of the artist
date - the date(s) of the art piece
medium - the medium of the art piece
country - the country of the artist
This data was kindly made publicly available under the <a href="https://www.metmuseum.org/about-the-met/policies-and-documents/image-resources">Open Access Policy</a>.

In [ ]:
# Start by getting a feel for the met table:
SELECT *
FROM met
LIMIT 10;

# How many pieces are in the American Decorative Art collection?
SELECT COUNT(*) AS 'count'
FROM met;

# Count the number of pieces where the category includes ‘celery’.
SELECT COUNT(*) AS 'celery_count'
FROM met
WHERE catetory LIKE '%celery%';

# Find the title and medium of the oldest piece(s) in the collection.
SELECT MIN(date)
FROM met;

# Find the top 10 countries with the most pieces in the collection.
SELECT country, COUNT(*) AS 'count'
FROM met
WHERE country IS NOT NULL
GROUP BY 1
ORDER BY count DESC
LIMIT 10;

# Find the categories HAVING more than 100 pieces.
SELECT category, COUNT(*) AS 'count'
FROM met
GROUP BY 1
HAVING count > 100;

# Count the number of pieces where the medium contains ‘gold’ or ‘silver’.
SELECT CASE
   WHEN medium LIKE '%gold%'   THEN 'Gold'
   WHEN medium LIKE '%silver%' THEN 'Silver'
   ELSE NULL
  END AS 'bling',
  COUNT(*) AS 'count'
FROM met
WHERE bling IS NOT NULL
GROUP BY 1
ORDER BY 2 DESC;