# Trends in Startups

Howdy! It’s your first day as a TechCrunch reporter. Your first task is to write an article on the rising trends in the startup world.

To get you started with your research, your boss emailed you a project.sqlite file that contains a table called startups. It is a portfolio of some of the biggest names in the industry.

Write queries with aggregate functions to retrieve some interesting insights about these companies.

In [ ]:
# Getting started, take a look at the startups table
FROM startups
LIMIT 20;

# Calculate the total number of companies in the table.
SELECT COUNT(DISTINCT name) AS 'total_number_of_companies'
FROM startups;

# We want to know the total value of all companies in this table.
SELECT SUM(valuation) AS 'total_value_of_companies'
FROM startups;

# What is the highest amount raised by a startup?
SELECT MAX(raised) AS 'max_raised'
FROM startups;

# Edit the query so that it returns the maximum amount of money raised, during ‘Seed’ stage.
SELECT MAX(raised) AS 'max_raised'
FROM startups
WHERE stage = 'Seed';

# In what year was the oldest company on the list founded?
SELECT MIN(founded) AS 'oldest_company_founded'
FROM startups;

# Return the average valuation.
SELECT AVG(valuation) AS 'avg_valuation'
FROM startups;


# Return the average valuation, in each category.
SELECT category, AVG(valuation) AS 'avg_valuation'
FROM startups
GROUP BY 1;


# Return the average valuation, in each category. Round the averages to two decimal places.
SELECT category, ROUND(AVG(valuation), 2) AS 'avg_valuation'
FROM startups
GROUP BY 1;

# Return the average valuation, in each category. Round the averages to two decimal places.
# Lastly, order the list from highest averages to lowest.
SELECT category, ROUND(AVG(valuation), 2) AS 'avg_valuation'
FROM startups
GROUP BY 1
ORDER BY 2 DESC;

# What are the most competitive markets
SELECT category, COUNT(*) AS 'count'
FROM startups
GROUP BY 1
HAVING count > 3
ORDER BY count DESC;

# What is the average size of a startup in each location
SELECT location, AVG(employees) AS 'avg-employees'
FROM startups
GROUP BY location;

# What is the average size of a startup in each location, with average sizes above 500?
SELECT location, AVG(employees) AS 'avg_employees'
FROM startups
GROUP BY location
HAVING avg_employees > 500;