# Create a Table

In this project, you will create your own friends table and add/delete data from it!

In [34]:
import sqlite3

In [35]:
# Create a DB
conn = sqlite3.connect('friends.sqlite') 

# Create a cursor
cur = conn.cursor()

In [36]:
# Create a table
cur.execute('DROP TABLE IF EXISTS friends')
cur.execute('''CREATE TABLE friends 
                (id INTEGER, name TEXT, birthday DATE)''')

In [37]:
# Insert a row of data
cur.execute("INSERT INTO friends (id, name, birthday) VALUES (1, 'Jane Doe', '1990-05-30')")
conn.commit()

In [38]:
# Let’s make sure that Jane has been added to the database
cur.execute('SELECT * FROM friends')
print(cur.fetchone())

(1, 'Jane Doe', '1990-05-30')

In [39]:
# Add two of your friends to the table.
cur.execute("INSERT INTO friends (id, name, birthday) VALUES (2, 'David Smith', '1992-11-30')")
cur.execute("INSERT INTO friends (id, name, birthday) VALUES (3, 'Michelle Yee', '1993-10-30')")
conn.commit()

In [40]:
# Check the insertions
for row in cur.execute('SELECT * FROM friends'):
    print(row)

(1, 'Jane Doe', '1990-05-30')
(2, 'David Smith', '1992-11-30')
(3, 'Michelle Yee', '1993-10-30')

In [44]:
# Jane Doe just got married! Her new last name is “Smith”. Update her record in friends.
cur.execute("UPDATE friends SET name = 'Jane Doe Smith' WHERE id = 1")
conn.commit()

In [45]:
# Add a new column named email
cur.execute("ALTER TABLE friends ADD COLUMN email TEXT")

In [47]:
# Update the email address for everyone in your table
cur.execute("UPDATE friends SET email = 'jane@codecademy.com' WHERE id = 1")
cur.execute("UPDATE friends SET email = 'david@codecademy.com' WHERE id = 2")
cur.execute("UPDATE friends SET email = 'michelle@codecademy.com' WHERE id = 3")
conn.commit()

In [48]:
for row in cur.execute('SELECT * FROM friends'):
    print(row)

(1, 'Jane Doe Smith', '1990-05-30', 'jane@codecademy.com')
(2, 'David Smith', '1992-11-30', 'david@codecademy.com')
(3, 'Michelle Yee', '1993-10-30', 'michelle@codecademy.com')

In [50]:
# Wait, Jane Smith is not a real person.Remove her from friends.
cur.execute("DELETE FROM friends WHERE id = 1")
conn.commit()

In [51]:
for row in cur.execute('SELECT * FROM friends'):
    print(row)

(2, 'David Smith', '1992-11-30', 'david@codecademy.com')
(3, 'Michelle Yee', '1993-10-30', 'michelle@codecademy.com')